ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;
  gap: 1.5rem;

  li {
    margin: 0;
    color: #fff;
    padding: 1%;
    border: 3px solid #000000;
    flex-basis: calc(100% / 6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
    border-radius: 20%;
    text-align: center;
    @media (max-width: 1080px) {
      flex-basis: calc(100% / 5);
    }

    @media (max-width: 800px) {
      flex-basis: calc(100% / 4);
    }

    @media (max-width: 600px) {
      flex-basis: calc(100% / 3);
    }

    // @media (max-width: 400px) {
    //   flex-basis: 100%;
    // }
  }
}
