<div infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
  <ul>
    <li *ngFor="let item of pokemons; let i = index" class="card" [id]="'pokemon-' + item.id"
      (mouseover)="currentSpriteUrls[item.id] = getGifSpriteUrl(item)"
      (mouseout)="currentSpriteUrls[item.id] = getStaticSpriteUrl(item)" (click)="handleNavigaToDetails(item.id)">
      <div class="card-body">
        <span>#{{item.id}} </span>
        <span>{{item.name.slice(0, 1).toUpperCase() + item.name.slice(1)}} </span>
      </div>
      <div>
        <img class="card-img-top" [src]="currentSpriteUrls[item.id]" alt="{{item.name}}" height=150>
      </div>
      <div class="types">
        <img *ngIf="item" [src]="getTypeImageUrl(item, 0)" />
        <img *ngIf="item" [src]="getTypeImageUrl(item, 1)" />
      </div>
    </li>
  </ul>
</div>

<div>
  <fa-icon [icon]="faHand" (click)="goBackUp()"></fa-icon>
</div>
