.navmenu {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 780px) {
    flex-direction: column;
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

app-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
