.navmenu-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  i {
    scale: 2;
    margin: 0 0.5rem;
  }

  select {
    all: unset;
    margin: 0 0.6rem;
    padding: 0.6rem;
    border: none;
    border-radius: 0.5rem;
    font-family: inherit;
    color: #fff;
    background: #000;
    transition: all 1s ease;
    &:focus {
      outline: none;
      background: #fff;
      color: #000;
    }
  }
}
