footer {
  padding: 1rem 0;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  background-color: black;
  justify-content: space-around;

  .links {
    i {
      scale: 1.5;
      margin: 0 1rem;
      transition: transform 0.3s ease-in-out;
    }
    a {
      color: white;
    }
    i:hover {
      transform: scale(1.3);
    }
  }
  @media (max-width: 800px) {
    font-size: 0.7rem;
  }
}
