<section class="navmenu">

  <div class="navmenu-dropdown">
    <label>Pokemons per page
      <select [(ngModel)]="pokemonLimit" (change)="handleLimitChange()">
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="60">60</option>
      </select>
    </label>
  </div>

  <div class="navmenu-search">
    <label>Find by name/ID
      <input type="text" id='search' [(ngModel)]="search" />
      <button (click)="handlePokemonByName()" id="search">Go!</button>
    </label>
  </div>

  <ul class="navmenu-btn">
    <li><button (click)="handleNextOrPrevious('https://pokeapi.co/api/v2/pokemon?offset=0')"
        class="return">Reset</button></li>
    <li><button (click)="handleNextOrPrevious(previous)">Previous</button></li>
    <li><button (click)="handleNextOrPrevious(next)" class="next">Next</button></li>
  </ul>
</section>
