<section class="list-generator">
  <ul class="nav-buttons">
    <li><button (click)="handleNextOrPrevious()" class="return">Reset</button></li>
    <li><button (click)="handleNextOrPrevious(previous)">Previous</button></li>
    <li><button (click)="handleNextOrPrevious(next)" class="next">Next</button></li>
  </ul>
  <div>
    <label>Pokemons per page
      <select [(ngModel)]="pokemonLimit" (change)="handleLimitChange()">
        <option value="20">20</option>
        <option value="40">40</option>
        <option value="60">60</option>
      </select>
    </label>
  </div>
</section>
