section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card {
    background: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
    h1 {
      font-family: "Press Start 2P";
    }
    margin: 3rem;
    background-color: #fff;
    border: 3px black solid;
  }
}
