<section *ngIf="!loading && pokemon">

  <div class="details">
    <div class="button-container">
      <i (click)="loadPrevious()" class="fa-solid fa-angles-left" *ngIf="id >= 2 && id !== 10001"></i>
    </div>

    <div class="card">
      <div class="card-images">
        <img *ngFor="let img of pokemonImages; let i = index" [src]="img" [alt]="pokemon.name"
          [class.active]="i === currentImageIndex" class="card-img-top">
      </div>
      <div class="carousel-controls">
        <button (click)="prevImage()" [disabled]="currentImageIndex === 0">Prev</button>
        <button (click)="nextImage()" [disabled]="currentImageIndex === pokemonImages.length - 1">Next</button>
      </div>
      <div class="card-body">
        <h1 class="card-title">Name: {{pokemon.name.slice(0, 1).toUpperCase() + pokemon.name.slice(1)}}</h1>
        <p class="card-text">
          <span> <u>Index</u>: #{{pokemon.id}}</span>
          <span><u>Height</u>: {{((pokemon.height / 10).toFixed(1))}} m</span>
          <span><u>Weight</u>: {{(pokemon.weight / 10).toFixed(1)}} Kg</span>
          <span><u>HP</u>: {{pokemonStats.hp}}</span>
          <span><u>Attack</u>: {{pokemonStats.attack}}</span>
          <span><u>Defense</u>: {{pokemonStats.defense}}</span>
          <span><u>Special Attack</u>: {{pokemonStats.special_attack}}</span>
          <span><u>Special Defense</u>: {{pokemonStats.special_defense}}</span>
          <span><u>Speed</u>: {{pokemonStats.speed}}</span>
        </p>
        <div class="type-img">
          <img *ngIf="pokemonType?.type_1"
            [src]="pokemonType.type_1 ? 'assets/types/' + pokemonType.type_1 + '.png' : null" />
          <img *ngIf="pokemonType?.type_2"
            [src]="pokemonType.type_2 ? 'assets/types/' + pokemonType.type_2 + '.png' : null" />
        </div>
      </div>
    </div>


    <div class="button-container">
      <i (click)="loadNext()" class="fa-solid fa-angles-right" *ngIf="id <= 10270 && id !== 1010"></i>
    </div>

  </div>

  <div>
    <i (click)="handleNavigateHome()" class="fa-solid fa-people-pulling"></i>
  </div>
</section>

<section *ngIf="loading">
  <app-loading></app-loading>
</section>
