section {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .details {
    display: flex;
    align-items: center;

    .navigation-buttons {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .button-container {
      display: flex;
      justify-content: center;
    }

    @media (max-width: 1080px) {
      font-size: 0.9rem;
    }

    @media (max-width: 800px) {
      font-size: 0.8rem;
    }

    @media (max-width: 600px) {
      font-size: 0.7rem;
    }
  }

  .card {
    background: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
    margin: 3rem;
    background-color: #fff;
    border: 3px black solid;
    margin: 0.8rem;

    @media (max-width: 1080px) {
      width: 20rem;
    }

    @media (max-width: 800px) {
      width: 18rem;
    }

    @media (max-width: 600px) {
      width: 16rem;
    }

    &-images {
      position: relative;
      width: 100%;
      height: 200px;
      margin: 0.6rem 0;

      @media screen and (max-width: 400px) {
        height: 150px;
      }
    }

    &-img-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 0;
      transition: opacity 0.3s;

      &.active {
        opacity: 1;
      }
    }

    &-body {
      h1 {
        font-family: "Press Start 2P";
      }

      .card-text {
        display: flex;
        flex-direction: column;

        span {
          padding: 0.5rem 0;
        }
      }

      .type-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 10rem;
          margin: 0.5rem 0;
          @media (max-width: 1440px) {
            width: 9rem;
          }

          @media (max-width: 1080px) {
            width: 8rem;
          }

          @media (max-width: 800px) {
            width: 7rem;
          }

          @media (max-width: 600px) {
            width: 6rem;
          }
        }
      }
    }

    .carousel-controls {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      button:hover {
        animation: beat 1s infinite alternate;
      }
      button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        animation: none;
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
  }
}

.fa-solid {
  margin: 0.6rem;
  scale: 2;
}

.fa-solid:hover {
  animation: beat 1s infinite alternate;
  color: #fff01f;
  cursor: pointer;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}
